In [ ]:
import pandas as pd


path = '../../../planilhas/limpo/modulo_3/limpar_e_padronizar_colunas/inscritos_limpo.csv'

df = pd.read_csv(path,low_memory=False)


coluna= [
'beneficiado_creduc_fies',
]

correcao={
'sim':True,
'não':False,
}

print('---O ANTES: quais os tipo de respostas---')

display(df[coluna].value_counts())#type:ignore
# para descobrir como distinct e qntas linahs tem de cada resposta

print('---O ANTES: o tipo da coluna --')

display(df[coluna].dtypes)#type:ignore




df['beneficiado_creduc_fies']= (df['beneficiado_creduc_fies']
             .str.strip()
             .str.lower()
             .map(correcao)
             .astype('boolean')) # NAO USE 'BOOL' PQ TRANSFORMA NULO EM TRUE

print('---Apos aplicar a correcao ---')

display(df[coluna])#type:ignore


print('---Qntos tipos existem---')

display(df['beneficiado_creduc_fies'].unique())#type:ignore

#df[coluna].unique() assim da erro pq o unique so vai
# para SERIES pq n tem como fazer unique em relacao
# a N colunas... isso seria o groupby q faz melhor...
# alias este unique ta fazendo papel de DISTINCT
# se quiser saber qntos tem de cada use value_counts

print('---Qntos tem no total ---')
df['beneficiado_creduc_fies'].fillna(False).value_counts()
#df['beneficiado_creduc_fies'].value_counts() #sem fillNa resultou em apenas 6 a menos



coluna_com_ano_semestre=[
    'ano',
    'semestre',
    'beneficiado_creduc_fies',
]


df_analise= (df
             .groupby(coluna_com_ano_semestre,as_index=False)
             [['beneficiado_creduc_fies']]
             .size()
             .rename(columns={'size':'qtde'}))

display(df_analise)#type: ignore

---O ANTES: quais os tipo de respostas---

beneficiado_creduc_fies
Não                        2195753
Sim                           1473
#N/D                             6
Não                              2
Name: count, dtype: int64

---O ANTES: o tipo da coluna --

beneficiado_creduc_fies    object
dtype: object

---Apos aplicar a correcao ---

         beneficiado_creduc_fies
0                          False
1                          False
2                          False
3                          False
4                          False
...                          ...
2197229                    False
2197230                    False
2197231                    False
2197232                    False
2197233                    False

[2197234 rows x 1 columns]

---Qntos tipos existem---

<BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean

---Qntos tem no total ---

     ano  semestre  beneficiado_creduc_fies    qtde
0   2019         1                    False  696535
1   2019         1                     True     196
2   2019         2                    False  271128
3   2019         2                     True     188
4   2020         1                    False  539106
5   2020         1                     True     267
6   2020         2                    False  209282
7   2020         2                     True     220
8   2021         1                    False  250722
9   2021         1                     True     296
10  2021         2                    False  228982
11  2021         2                     True     306